body{
    background-color: #212529;
}
#corps{
    height: 400px;
    margin: auto;
}
#categorie{
    height: 60px;
}
#place_quiz{
    height: 250%;
    background-color: rgb(85, 85, 85);
}
#place_second{
    height: 100%;
    background-color:rgb(85, 85, 85);
    padding-top: 2%;
}
#fin{
    background-color: #007bff;
    height: 100%;
    margin: auto;

}
.categorie{
    margin-left: 35%;
}
#place_proposition{
    height: 100%;
    margin: auto;
}
.proposition{
    height: 60%;
}
.bou{
    margin-top: 6%;
    background-color: #007bff;
}
#second{
    height: 100%;
}
#bonne_reponse{
    height: 120%;
}
#progression{
    background-color: rgb(85, 85, 85);
    height: 30px;
}
.blanc{
    color: white;
}
h1{
    text-decoration: underline;
}
.rouge{
    color: tomato;
}
.vrai{
    background-color: rgb(145, 226, 23);
}
.faux{
    background-color: red;
}
.milieu{
    margin: auto;
    padding-top: 10px;
}
.bi{
    width: 40px;
    height: 40px;
}
.btn-secondary{
    margin-bottom: 10px;
}
